* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 500;
}

.able {
    color: white;
}

.disable {
    color: #adadad;
}

.container-viewport {
    height: 100vh;
    width: 100vw;
    position: relative;
}

.main-container {
    width: 100%;
    background-image: linear-gradient(to bottom right, #9e4268, black);
    position: fixed;
}

.main-container:after {
    content: "";
    display: table;
    clear: both;
}

.left-menu {
    width: 13%;
    height: 100vh;
    background-color: #050505;
    padding-top: 30px;
    position: relative;
    position: fixed;
    float: left;
}

.left-menu a {
    text-decoration: none;
}

.left-menu a:hover {
    color: white;
}

.left-menu a i {
    margin-right: 10px;
    font-size: 18px;
}

.left-menu nav {
    margin-top: 20px;
}

.left-menu ul li {
    list-style-type: none;
    line-height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding-left: 20px;
}

.left-menu ul li:first-child {
    border-left: 3px solid #f90c6f;
}

#logo img {
    width: 50%;
    margin-left: 30px;
}

#logo img.img-logo-mobile {
    display: none;
}

.left-menu-bottom {
    position: absolute;
    bottom: 0;
    margin-bottom: 130px;
    padding: 30px;
    width: 100%;
    font-weight: 300;
    color: #adadad;
}

.left-menu-bottom i {
    font-size: 12px;
    margin-right: 10px;
}

.left-menu-bottom p {
    line-height: 50px;
    font-size: 13px;
    cursor: pointer;
}

.left-menu-bottom p:hover {
    color: white;
}

.left-menu-bottom p:last-child {
    color: white;
}

.left-menu-bottom hr {
    border: 0;
    border-bottom: 1px solid #adadad;
}

#music {
    width: 87%;
    float: right;
    height: 100vh;
    overflow: auto;
}

.music-menu ul {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.music-menu ul li {
    margin-right: 30px;
    list-style-type: none;
    padding-bottom: 15px;
    cursor: pointer;
}

.music-menu ul li:hover {
    color: white;
}

.music-menu ul li:first-child {
    border-bottom: 3px solid #f90c6f;
}

.hamburger-menu {
    display: none;
    color: white;
    font-size: 30px;
    padding: 30px;
}

.music-content {
    padding: 0 150px;
    margin-bottom: 130px;
}

.music-content h2 {
    font-size: 35px;
    margin-top: 50px;
}

.music-subtitle {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.music-subtitle p:last-child {
    text-transform: uppercase;
}

.music-subtitle p:last-child:hover {
    color: white;
    cursor: pointer;
}

.music-blocks {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.img-hit {
    position: relative;
}

.img-hit:hover {
    cursor: pointer;
    opacity: 0.7;
}

.img-hit img {
    width: 100%;
}

.playlist {
    width: 200px;
    margin-right: 30px;
    margin-bottom: 40px;
    text-align: center;
    flex-wrap: wrap;
}

.playlist a {
    text-decoration: none;
    color: white;
}

.playlist p {
    margin-top: 10px;
}

.img-hit i.far.fa-play-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    color: white;
    display: none;
}

.img-hit i.far.fa-play-circle:hover {
    display: block;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 120px;
    background-color: #282828;
    display: flex;
}

.footer-left {
    width: 25%;
    display: flex;
    align-items: center;
}

.footer-music {
    width: 100px;
}

.footer-music img {
    width: 100%;
}

.footer-music, .footer-music-title, .footer-music-like {
    margin-left: 30px;
}

.footer-music-title p {
    font-size: 12px;
    margin-top: 10px;
}

.footer-music-like:hover {
    color: white;
    cursor: pointer;
}

.footer-middle {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-middle-top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.music-control i {
    margin-right: 50px;
    font-size: 20px;
}

.music-control:nth-child(3n) i {
    font-size: 35px;
}

.music-control i:hover {
    color: white;
    cursor: pointer;
}

.footer-middle-bottom {
    width: 600px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-middle-bottom .progress-bar {
    border-bottom: 3px solid;
    width: 500px;
    border-radius: 2px;
    position: relative;
}

.music-pointer {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #adadad;
    position: absolute;
    left: 90px;
    bottom: -8px;
}

.music-pointer:hover {
    background-color: white;
    cursor: pointer;
}

.footer-right {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.audio-progress-bar {
    border-bottom: 2px solid;
    width: 100px;
    border-radius: 2px;
    position: relative;
}

.footer-right-icon {
    margin-right: 15px;
    font-size: 13px;
}

.footer-right-icon:hover {
    color: white;
    cursor: pointer;
}

.audio-progress-bar {
    margin-right: 40px;
    position: relative;
}

.audio-pointer {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #adadad;
    position: absolute;
    left: 20px;
    bottom: -6px;
}

.audio-pointer:hover {
    background-color: white;
    cursor: pointer;
}



@media screen and (max-width: 1440px) {
    .left-menu {
        width: 20%;
    }

    #music {
        width: 80%;
    }

    .music-content {
        padding: 0 60px;
    }

    .playlist {
        width: 150px;
    }
}

@media screen and (max-width: 1024px) {
    .left-menu {
        width: 30%;
    }

    #music {
        width: 70%;
    }

    .music-menu {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .left-menu {
        width: 20%;
        padding: 0;
    }

    #logo img {
        display: none;
    }

    #logo img.img-logo-mobile {
        display: block;
        padding-top: 20px;
        margin: 0 auto;
        height: 65px;
        width: 45px;
    }

    .left-menu-top ul li span, .left-menu-bottom p span {
        display: none;
    }

    .left-menu-top i.fas.fa-home, .left-menu-top i.fas.fa-search, .left-menu-top i.fas.fa-music, .left-menu-bottom i.fas.fa-arrow-circle-down, .left-menu-bottom i.far.fa-user {
        display: block;
        font-size: 20px;
        margin: 25px auto;
        font-size: 30px;
    }

    #music {
        width: 80%;
    }

    .music-content {
        padding: 0 40px;
    }
}

@media screen and (max-width: 548px) {
    .music-subtitle p {
        line-height: 40px;
    }

}
